<phpunit backupGlobals="true"
    bootstrap="./bootstrap.php"
    colors="true">
    <testsuite>
        <testsuite name="unit test">
            <directory>./</directory>
        </testsuite>
    </testsuite>
    <logging>
        <log type="junit" target="../build/logs/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
